@import "../../../variables/variables.scss";
.home-header {
  font-family: $font-family;
  color: $font-color;
  background-color: $background-color;
  width: 100%;
  z-index: 3;
  // padding: rem(24) rem(48) rem(24) rem(48);
  position: fixed;
  padding-top: rem(24);
  padding-bottom: rem(24);
  display: grid;
  grid-template-columns: rem(48) 1fr 1fr 1fr 1fr 1fr rem(48);
  .heading {
    grid-column: 2/3;
    font-weight: $font-weight-700;
    line-height: 150%;
    text-transform: uppercase;
    display: grid;
    align-items: center;
    font-size: rem(32);
  }
  .home-desktop-menu {
    grid-column: 4/5;
    display: grid;
    // grid-template-columns: rem(34) 1fr 2fr 1fr rem(48);
    // grid-column-start: rem(34);
    padding-left: 0;
  }
  .home-desktop-menu ul {

    height: 100%;
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .home-desktop-menu ul li:not(:first-child) {
    margin-left: rem(32);
  }
  .login-butn {
    grid-column: 6/7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .butn {
      padding: rem(4) rem(12) rem(4) rem(12);
      font-weight: 700;
    }
    .login {
      height: rem(34);
      width: rem(84);
      border: none;
      text-transform: capitalize;
      background-color: $background-color;
    }
    .login:hover {
      color: $color-acent;
    }
    .register {
      height: rem(34);
      width: rem(109);
      text-transform: capitalize;
      background-color: $primary-color;
      border-radius: rem(8);
      color: $background-color;
      border: none;
    }
    .register:hover {
      background-color: $primary-color2;
    }
  }
  .menu-icon {
    display: none;
    grid-column: 5/-1;
    align-items: center;
  }
  @media (max-width: 820px) {
    padding-top: rem(16);
    padding-bottom: rem(16);
    .login-butn {
      display: none;
    }
    .home-desktop-menu {
      display: none;
    }
    .menu-icon {
      display: flex;
      grid-column: 7/-1;
      align-items: center;
    }
    .menu-icon img {
      height: rem(30);
      width: rem(30);
    }
  }
  @media (max-width: 1100px) {
    // grid-template-columns: rem(48) 1fr 1fr 1fr 1fr 0.8fr rem(48);
    grid-template-columns: rem(48) 1fr 1fr 1.5fr 1fr 1fr rem(48);
  }
  @media (max-width: 380px) {
    grid-template-columns: rem(24) 1fr 1fr 1fr 1fr 0.8fr rem(48);
    padding-top: rem(10);
    padding-bottom: rem(10);
    .heading {
      font-size: rem(24);
    }
  }
}
.menu {
  display: none;
  @media (max-width: 820px) {
    display: block;
    background-color: $background-color;
    float: right;
    width: calc(rem(180) + 10vw);
    margin: auto;
    height: 100vh;
    box-shadow: 0 rem(4) rem(8) 0 #00000033, 0 rem(6) rem(20) 0 #00000033;
    position: fixed;
    z-index: 10;
    right: 0;
    .close-icon {
      display: inline-flex;
      position: absolute;
      right: rem(12);
      justify-content: flex-end;
      top: rem(33);
    }
    .close-icon img {
      height: rem(24);
      width: rem(24);
    }
    .menu-desktop-menu {
      position: absolute;
      top: rem(83);
    }
    .menu-desktop-menu ul {
      list-style: none;
    }
    .menu-login-butn {
      position: absolute;
      bottom: rem(20);
      display: flex;
      justify-content: space-around;
      .butn {
        padding: rem(4) rem(12) rem(4) rem(12);
        font-weight: 700;
      }
      .login {
        height: rem(34);
        width: rem(84);
        border: none;
        text-transform: capitalize;
        background-color: $background-color;
      }
      .login:hover {
        color: $color-acent;
      }
      .register {
        height: rem(34);
        width: rem(109);
        text-transform: capitalize;
        background-color: $primary-color;
        border-radius: rem(8);
        color: $background-color;
        border: none;
      }
      .register:hover {
        background-color: $primary-color2;
      }
    }
  }
  // @media (max-width: 600px) {
  //   width: 40%;
  // }
  // @media (max-width: 600px) {
  //   width: 40%;
  // }
  // @media (max-width: 450px) {
  //   width: 60%;
  // }
}

//   .nav-content {
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//   }
//   .home-desktop-menu {
//     flex: 1 1;
//     display: flex;
//     justify-content: space-between;
//   }
//   .nav-head {
//     margin-left: 40px;
//   }
// .header {
// //   font-style: ;
// //   font-family: $font-family;
// //   color: $font-color;
// //   background-color: $background-color;
// //   .heading{
// //     font-weight: $font-weight-700;
// //     line-height: 150%;
// //     text-transform: uppercase;
// //     font-size: 2em;
// //   }
// }
